a {
    text-decoration: none;
    position: relative;
    color:white;
    font-size: 12.5px;
    cursor: pointer;
}

.navbar {
    color:white;
    background: pink;
    height: 50px;
    position:relative;
    display: flex;
    align-items: center;
}

.nav-icons {
	margin-top: 0;
	right: 1rem;
	vertical-align: middle;
}

.nav-icons li {
	display: inline-block;
	padding: 10px;
	border-radius: 50%;
	margin-left: 15px;
    transition: background 0.3s ease-in;
    margin-top: 1rem;
}

.nav-icons li:hover {
	background: rgb(0,0,0,0.2);
}
